.primary-color {
    background-color: #292d3b;
  }
  
  .secondary-color {
    background-color: #18548d;
  }
  
  .tertiary-color {
    background-color: #D52551;
  }
  
  .text-primary {
    color: rgb(180, 174, 209);
  }